.card {
  margin-right: 4px;
  box-shadow: 0px 5px 5px rgba(166, 163, 163, 0.25);
}

.circle-img {
  object-fit: cover;
  height: 200px;
  width: 450px;
}

.img-container {
  height: 200px;
}

.text-container {
  background-color: rgb(252, 252, 252);
  width: 450px;
}

.card-container {
  justify-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 50px;
  margin: 50px;
}

.lesson-summary {
  padding: 0 20px 20px;
}
.inner-text-container {
  padding: 0 20px 20px;
}
