/* .footer {
  display: flex;
  flex-direction: column;
  background-color: rgb(247, 240, 212);
  position: fixed;
   bottom: 0;
   width: 100%;
}
.footer-list {
  display: flex;
  font-size: 13px;
  flex-direction: row;
  gap: 18%;
  margin-bottom: 2%;
  margin-left: 5%;
  height: 1em;
}
.copy-right {
  font-size: 13px;

  color: rgb(68, 1, 1);
}

.facebook,
.twitter,
.phone,
.map-marked-alt {
  color: rgb(74, 152, 242);
  font-size: 18px;
} */
